[Unit]
Description=uWSGI instance to serve EQ Qeustion
After=network.target

[Service]
User=abelit
Group=root
WorkingDirectory=/home/abelit/Documents/code/github/abelit-ThirdParty/third_party_feedback/feedback
ExecStart=/home/abelit/.local/bin/uwsgi --ini /home/abelit/Documents/code/github/abelit-ThirdParty/third_party_feedback/feedback/eqapp_uwsgi.ini

[Install]
WantedBy=multi-user.target